# WARNING: Paths must not include the name of the "lessons" directory.
# Outside, this directory is called "exercises".

node_modules
/*/*/**/package-lock.json
/tmp/
presentation.html
presentation.pdf
.DS_Store